<% title (params[:username].blank? ? 'My' : "#{params[:username]}'s") + " Posts" %>
<div class="alignright"><%= paginate @posts %></div>
<% @posts.each do |post| %>
<div class="post">
  <div class="header"> 
    <table>
      <tr> 
        <td><%= params[:username] || current_user.username %> &nbsp; <%= post.created_at.strftime('%B %d %Y %H:%M') %>. <em>Thread: <%= link_to post.topic.title, show_thread_path(post.topic) %></em></td> 
        <td class="alignright"><%= link_to 'Direct Link', show_thread_path(post.topic, :page => post.page, :anchor => post.sub_id) %></td>
      </tr>
    </table> 
  </div> 
  <div class="body size13">
  <% cache "post-#{post.id}-#{post.nuked}-#{post.warned}-#{post.banned}-#{post.temp_banned}-#{post.modified_at}" do %>
    <%= display_post(post) %>
  <% end %>
  </div>
</div>
<% end %>
<div class="alignright"><%= paginate @posts %></div>